* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f3e3;
  /* Beige claro */
  color: #333;
  /* Texto oscuro */
  min-height: 100vh;
}

#logo {
  width: 5.5rem;
  /* Define el ancho del logo */
  height: auto;
  /* Permite que la altura se ajuste automáticamente */
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  /* Texto oscuro */
}

footer {
  padding: 20px;
  text-align: center;
}

.pelicula {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

button {
  background-color: #ff4500;
  /* Naranja */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #ff6347;
  /* Naranja más claro */
}
.custom-link-button {
  background-color: #ff4500;
  /* Naranja */
  color: white;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.custom-link-button:hover {
  background-color: #ff4500;
  /* Naranja */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.imagenes-linea {
  display: flex;
  justify-content: space-between;
  /* Distribuye las imágenes uniformemente a lo largo de la línea */
}

.imagenes-linea img {
  width: calc(18% - 5px);
  /* Establece el ancho de cada imagen (20% del ancho total menos el espacio entre ellas) */
  margin: 0;
  /* Elimina los márgenes predeterminados de las imágenes */
}

.imagenes-linea img:hover,
.cartelera:hover .pelicula img {
  transform: scale(1.05);
  cursor: pointer;
  transition: 0.3s ease-out;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  max-width: 100%;
  /* Establece un ancho máximo del 100% del contenedor */
  height: auto;
  /* Permite que la altura se ajuste automáticamente */
  box-sizing: border-box;
  margin-top: 20px;
  justify-content: space-around;
}

.container .cartelera {
  border: 1px solid #ccc;
  /* Añadir un borde para visualizar las secciones */
  padding: 15px;
  /* Añadir espacio interno a las secciones */
}

.container .cartelera .pelicula {
  display: flex;
  flex-direction: column;
  /* Apila los elementos verticalmente */
  align-items: center;
  /* Centra horizontalmente */
  text-align: center;
  /* Centra el texto */
}

.container-fluid .cartelera .pelicula img {
  width: 14rem;
  /* Ancho de la imagen */
  height: auto;
  /* Altura automática para mantener la proporción */
  margin-bottom: 10px;
  /* Espacio entre la imagen y el texto */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cartelera button,
#registro button {
  background-color: #ff4500;
  /* Naranja */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.cartelera button:hover,
#registro button:hover {
  background-color: #ff6347;
  /* Naranja más claro */
}
